---
# Only the main Sass file needs front matter (the dashes are enough)
---

$header-bg-color: #313131;
$header-height: 60px;

$footer-bg-color: #313131;
$footer-height: 50px;

$color-red: #D92121;
$color-gray: #CCC;
$color-black: #000;

$content-width: 60%;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "syntax-highlighting"
;

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic);
