<header>
    <div class="content">
        <div class="title"><a href="/"><img src="/res/img/SSO.png"></a></div>

        <div class="nav">
            <ul>
                <li><a href="/about/">About</a></li>
                <li><a href="/announcements/">Announcements</a></li>
                <li><a href="/calendar/">Calendar</a></li>
                <li><a href="/contact/">Contact</a></li>
                <li><a href="/gallery/">Gallery</a></li>
            </ul>
        </div>
    </div>
</header>
