* {
    margin: 0;
    padding: 0;
}
:link, :visited {
    text-decoration: none;
    color: inherit;
}
h1 {
    font-size: 1.6em;
}
h2 {
    font-size: 1.3em;
}
h3 {
    font-size: 1em;
}
h4 {
    font-size: .8em;
}
h5 {
    font-size: .6em;
}
h6 {
    font-size: .4em;
}
html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif
}
body {
    background: url(/res/img/stripe.jpg);

    .wrapper:after {
        content: "";
        display: block;
        height: $footer-height;
    } // Helps keep sticky footer in line
    .wrapper {
        min-height: 100%;
        margin-bottom: -#{$footer-height};
        header {
            min-height: $header-height;
            line-height: $header-height;
            color: #D92121;
            background: #fff;
            margin-bottom: 30px;
            .content {
                width: $content-width;
                margin: 0 auto;

                .title {
                    padding-top: 10px;
                    img {
                        display: block;
                        max-width: 300px;
                    }
                }

                .nav {
                    color: #000;
                    text-align: right;
                    margin-top: -10px;
                    ul {
                        list-style: none;
                        li {
                            display: inline;
                            padding: 0 10px;
                            a {
                                text-decoration: none;
                            }
                        }
                        .navHighlight {
                            color: $color-red;
                        }
                    }
                }
            }
        }
        .content-wrap {
            width: $content-width;
            margin: 0 auto;
            padding: 0 0 20px;
            .carousel {
                img {
                    max-height: 450px;
                    display: block;
                    margin: 0 auto;
                }
            }
            .recent-posts {
                padding-top: 20px;
                .title {
                    font-size: 1.6em;
                    color: $color-red;
                }
                .posts {
                    width: 85%;
                    margin: 0 auto;
                    ul {
                        list-style: none;
                    }
                }

            }
            .content-inner-wrap {
                padding: 25px;
                background-color: #fff;
                -moz-box-shadow:    0 0 4px #444;
                -webkit-box-shadow: 0 0 4px #444;
                box-shadow:         0 0 4px #444;
                font-family: 'Open Sans', sans-serif;
                .post {
                    padding-bottom: 20px;
                    a {
                        color: #666;
                        text-decoration: underline;
                    }
                    .head {
                        padding-bottom: 10px;
                        .post-title {
                            color: $color-red;
                            font-size: 1.6em;
                        }
                        .post-date {
                            font-size: 0.8em;
                            color: #aaa;
                        }
                        a {
                            color: $color-red;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
    footer {
        height: $footer-height;
        background-color: $footer-bg-color;
        color: $color-red;
        line-height: $footer-height;
        text-align: center;
    }
}
